body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #f0f0f0, #d0d0d0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container, .registro-container, .admin-container {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
    transition: transform 0.3s ease;
}

.login-container:hover, .registro-container:hover, .admin-container:hover {
    transform: scale(1.05);
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

input[type="text"], input[type="password"] {
    width: calc(100% - 22px); /* Ajustar el ancho para que no sobrepase */
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border 0.3s ease;
}

input[type="text"]:focus, input[type="password"]:focus {
    border: 1px solid #007bff;
    outline: none;
}

button {
    width: calc(100% - 22px); /* Ajustar el ancho para que no sobrepase */
    padding: 15px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background: #0056b3;
    transform: translateY(-2px);
}

a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

p {
    margin-top: 10px;
    font-size: 14px;
}

#forgot-password {
    margin-top: 10px;
}

/* Estilos del popup de mensaje */
.message-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    z-index: 1000;
    animation: fadeIn 0.3s ease;
}

.message-popup p {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.message-popup button {
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin-top: 10px;
    transition: background 0.3s ease, transform 0.2s ease;
}

.message-popup button:hover {
    background: #0056b3;
    transform: translateY(-2px);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
